@charset 'UTF-8';

/*arrows*/
.slick-arrow{
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  color: #7f7f7f;
  background-color: #f7f7f7;
  border-radius: 5px;
  transition: background-color .3s;
}


.slick-prev {
  margin-right: 20px;
}
.slick-prev svg {
    transform: scaleX(-1);
}
.slick-arrow svg{
  transition: fill .3s;
  display:block;
  margin: auto;
  fill: #7f7f7f;
  line-height: 26px;
}
/* Dots */

.slick-dots{
  display: inline-block;
  text-align: center;
  line-height: 0;
  margin: 30px 50px 0 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-68px);
  bottom: -70px;
}
.slick-dots {
   line-height: 1 !important;
  }
.slick-dots:before {
  content: attr(data-current);
  font-size: 26px;
}
.slick-dots:after {
  content: " / " attr(data-lenght);
  font-size: 16px;
  vertical-align: super;
}
.slick-dots li {
    display: none;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    height: 100%;
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@media (min-width: 1025px){
  .slick-arrow:hover {
    background-color: #006cff;
  }
  .slick-arrow:hover svg {
    fill: #99c4ff;
  }
}